<section id="projects">
<div class="container">
  <h3>Aktuelle Projekte</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-pencil"></i>&nbsp;&nbsp;<strong><a href="https://domenick-lieneweg.de">Domenick-Lieneweg.de</a></strong>
			- Meine Persönliche Webseite auf der ihr euch in diesem Moment befindet. Neben den aktuellen Projekten finden sich hier auch
      persönliche <a href="{{ site.baseurl }}/blog">Blog-Beiträge</a> und eine kurze <a href="{{ site.baseurl }}/about">Beschreibung zu mir</a>.
		</h5>
		<h5>
			<i class="fa fa-leaf"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">Minigan.me</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    <h5>
			<i class="fa fa-podcast"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">Minigan.me - Podcast</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-money"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">Digital-Unabhaengig.de</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		<h5>
			<i class="fa fa-cloud"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">0r3.de</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
    <h5>
			<i class="fa fa-code"></i>&nbsp;&nbsp;<strong><a href="https://github.com/domecode" target="_blank">DomeCode</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>

    </div>
  </div>
</div>
</section>
